$prim-theme: #0b2c0b;
$sec-theme: #8a6347;

$prim-bg: #e5e5e5;
$sec-bg: #803500;

$light-txt: #ffffff;
$dark-txt: #545149;

$prim-shadow: #0f3c0f;
$sec-shadow: #808080;

$prim-border: #545149;

$danger: #ff3f3f;
