$prim-theme: #4056A1;
$sec-theme: #ffa500;

$prim-bg: #e5e5e5;
$sec-bg: #134e13;

$light-txt: #ffffff;
$dark-txt: #545149;

$prim-shadow: #2a396a;
$sec-shadow: #808080;

$prim-border: #545149;

$danger: #ff3f3f;
