@use 'colors';
@use 'mixins';

main footer.floating {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  bottom: 20px;
  right: 55px;
  z-index: 10;
  
  button {
    background-color: colors.$prim-theme;
    color: colors.$light-txt;
    height: 85px;
    width: 85px;
    font-size: 50px;
    border: none;
    border-radius: 50%;
    opacity: 70%;
    box-shadow: 4px 4px 3px 1px colors.$prim-shadow;
    @include mixins.objBounce($translation: 3px);
  }
  
  button:hover {
    background-color: colors.$sec-theme;
    box-shadow: 4px 4px 3px 1px colors.$sec-theme;
  }
}

.hidden {
  display: none;
}