@use 'colors';

@media screen and (min-width: 1024px) {
  nav {
    background-color: colors.$prim-theme;
  }
  
  div.page-content {
    margin: 180px 60px; 
    display: flex;
    justify-content: space-between;
   }

  main.container {
    margin: 0px 0px;
    width: 66.7%;
  } 

  header.profile {
    justify-content: center;
    width: 33.3%;
    margin-right: 80px;
    border-radius: 10%;
    box-shadow: 4px 4px 3px 1px colors.$sec-shadow;
  }

  header.profile h2 {
    margin-bottom: 0px;
  }
}