@use 'colors';

.new-tweet-container {
  display: flex;
  flex-direction: column;
}

#new-tweet {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 40px;
  
  textarea {
    background-color: colors.$prim-bg;
    color: colors.$dark-txt;
    font-size: 70%;
    font-weight: 600;
    border: none;
    resize: none;
  }
}

div.tweet-util {
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  border-top: 4px solid;
  margin-top: 12px;
  
  button {
    background-color: colors.$prim-theme;
    color:colors.$light-txt;
    border: none;
    box-shadow: 1px 1px 4px 2px colors.$prim-shadow;
  }
  
  button:hover {
    background-color: colors.$sec-theme;
    box-shadow: 4px 4px 3px 1px colors.$sec-theme;
    opacity: 70%;
  }
}

%error {
  color: colors.$danger;
}

.invalid {
  @extend %error;
}

.error-msg {
  @extend %error;
  font-size: medium;
}