@use 'colors';

article.tweet {
  padding: 16px;
  border: solid 4px colors.$prim-border;
  margin: 16px 0px;

  &:hover {
    box-shadow: 4px 4px 3px 1px colors.$sec-shadow;
  }
  
  header {
    font-size: 22px;
    margin-right: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  div {
    display: flex;
    align-items: center;
  }
  
  img {
    height: 40px;
    margin-right: 12px;
  }

  p {
    font-size: 18px;
    margin: 18px 12px;
    word-wrap: break-word;
  }
  
  footer {
    font-size: 14px;
    font-weight: bold;
    padding: 12px 12px 0px 12px;
    border-top: solid 4px colors.$prim-border;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  i {
    color: colors.$prim-theme;
  }

  i:hover {
    color: colors.$sec-theme;
  }
}

.user-info {
  flex: auto;
}

.handle {
  font-weight: bold;
  opacity: 25%;
}

.icons {
  width: 75px;
  display: flex;
  justify-content: space-between;
}
