main footer.floating {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  bottom: 20px;
  right: 55px;
  z-index: 10;
}
main footer.floating button {
  background-color: #0b2c0b;
  color: #ffffff;
  height: 85px;
  width: 85px;
  font-size: 50px;
  border: none;
  border-radius: 50%;
  opacity: 70%;
  box-shadow: 4px 4px 3px 1px #0f3c0f;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  50% {
    transform: translateY(3px);
  }
}
main footer.floating button:hover {
  background-color: #8a6347;
  box-shadow: 4px 4px 3px 1px #8a6347;
}

.hidden {
  display: none;
}
