nav {
  height: 120px;
  width: 100%;
  /* background-color: #4056A1; */
  background-color:#487E65;
  background-image: url(../images/header-texture.png);
  color: #FFFF;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 6px;
  font-size: 22px;
  margin-right: 1.5em;
  margin-bottom: 20px;
  text-shadow: 3px 3px 4px #2a396a;
  display: flex;
  flex-direction: column;
}

nav button:hover {
  color: #ffa500
}

nav i {
  color:#ffa500;
  align-self: center;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
  margin-left: 1.5em;
  margin-bottom: 20px;
  text-shadow: 3px 3px 4px #2a396a;
}

.bounce {
  animation: bounce  1s infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(5px);
  }
}

