nav {
  height: 120px;
  width: 100%;
  padding: 0px 1.5em;
  color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding: 10px;
  font-size: 22px;
  text-shadow: 3px 3px 4px #0f3c0f;
  display: flex;
  flex-direction: column;
}
nav button:hover {
  color: #8a6347;
}
nav i {
  color: #8a6347;
  opacity: 80%;
  align-self: center;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  50% {
    transform: translateY(5px);
  }
}

.logo {
  font-family: "Bungee", sans-serif;
  font-size: 40px;
  padding: 10px;
  text-shadow: 3px 3px 4px #0f3c0f;
}
