nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFF;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
  margin-left: 1.5em;
  margin-bottom: 20px;
}

.new-tweet-button {
  font-size: 22px;
  margin-right: 1.5em;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.arrow {
  color:#ffa500;
  align-self: center;
}