nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFF;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav div {
  font-size: 22px;
  margin-right: 1.5em;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

nav div:hover {
  text-shadow: 3px 3px 4px #2a396a;
  color: #ffa500
}

nav i {
  color:#ffa500;
  align-self: center;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
  margin-left: 1.5em;
  margin-bottom: 20px;
  text-shadow: 3px 3px 4px #2a396a;
}