.new-tweet-container {
  display: flex;
  flex-direction: column;
}

#new-tweet {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 40px;
}
#new-tweet textarea {
  background-color: #e5e5e5;
  color: #545149;
  font-size: 70%;
  font-weight: 600;
  border: none;
  resize: none;
}

div.tweet-util {
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  border-top: 4px solid;
  margin-top: 12px;
}
div.tweet-util button {
  background-color: #0b2c0b;
  color: #ffffff;
  border: none;
  box-shadow: 1px 1px 4px 2px #0f3c0f;
}
div.tweet-util button:hover {
  background-color: #8a6347;
  box-shadow: 4px 4px 3px 1px #8a6347;
  opacity: 70%;
}

.error-msg, .invalid {
  color: #ff3f3f;
}

.error-msg {
  font-size: medium;
}
