.new-tweet {
  display: flex;
  flex-direction: column;
}

.new-tweet-body {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 5%;
}

.new-tweet-util {
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  border-top: 4px solid;
  padding-top: 12px;
}

div.new-tweet-util button {
  color: white;
  background-color: #4056A1;
  border: none;
  box-shadow: 1px 1px 4px 2px #31437d;
}

div.new-tweet-util button:hover {
  background-color: #31437d;
}

form.new-tweet-body textarea {
  background-color: #e5e5e5;
  border: none;
  font-size: 70%;
  font-weight: 600;
  color: #545149;
  resize: none;
}

.invalid {
  color: red;
}

