article.tweet {
  border: solid 4px #545149;
  margin: 16px 0px;
  padding: 16px;
}
article.tweet:hover {
  box-shadow: 4px 4px 3px 1px #808080;
}
article.tweet header {
  font-size: 22px;
  margin-right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article.tweet div {
  display: flex;
  align-items: center;
}
article.tweet img {
  height: 40px;
  margin-right: 12px;
}
article.tweet p {
  margin: 18px 12px;
  font-size: 18px;
  word-wrap: break-word;
}
article.tweet footer {
  border-top: solid 4px #545149;
  padding: 12px 12px 0px 12px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article.tweet i {
  color: #4056A1;
}
article.tweet i:hover {
  color: #ffa500;
}

.user-head {
  flex: auto;
}

.handle {
  font-weight: bold;
  opacity: 25%;
}

.icons {
  width: 75px;
  display: flex;
  justify-content: space-between;
}
